$text-primary-color: #155263;
$text-secondary-color: #FFC93C;
$background: #F2F4F7;
$button-width: 15em;
$border-radius-image: 50%;
$font-size: 12px;
$margin-page: 10%;
$height-button: 30px;

$public-path: '../..';

$xs: 575px;
$sm: 768px;
$md: 992px;
$lg: 1199px;
$xl: 1200px;

